#TomatoAction {
  padding-bottom: 16px;
  .countDown-wrapper,.input-wrapper{
    position: relative;
    >.closeIcon{
      position: absolute;
      font-size: 16px;
      top: -6px;
      right: -6px;
      background: #ffffff;
      color: grey;
    }
  }
  >.button-wrapper{
    text-align: center;
    >button{
      width: 100%;
    }
  }
}