#Index{
  max-width: 1000px;
  margin: auto;
  >header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    .logo{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
    }
    .userButton{
      border-color: transparent;
    }
    .userIcon{
      padding-left: 4px;
    }
  }
  >main{
    display: flex;

    justify-content: space-between;
  }
}