#Index{
  max-width: 1000px;
  margin: auto;
  >header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    .userButton{
      border-color: transparent;
    }
    .userIcon{
      padding-left: 4px;
    }
  }
  >main{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}