#Statistics{
  padding: 8px 8px;
  .ulNode{
    display: flex;
    justify-content: center;
    align-items: center;
    li{
      margin: 0 4px;
      &:hover{
        background: #FAFAFA;
      }
      >h2{
        margin: 0;
      }
      .echartsPloygon{
        position: absolute;
        top: 56px;
        left: 10px;
      }
      flex: 1;
      padding: 8px;
      border: 1px solid #dddddd;
      border-radius: 4px;
      position: relative;
      #Ploygon{
        position: absolute;
        top: 56px;
        left: 10px;
      }
    }
  }
}
@media (max-width: 1200px) {
  #Statistics{
    #Ploygon{
      display: none;
    }
    .echartsPloygon{
      display: none;
    }
    .ulNode{
      li{
        h1{
          margin: 0;
        }
      }
    }
  }
}
