*{margin:0;padding:0;}
li{list-style-type: none;}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FDFDFD;
}
.upSvg{
  border: 16px solid #ddd;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  position: fixed;
  bottom: 48px;
  right: 6%;
  cursor: pointer;
  display: none;
  opacity: .7;
}
.upSvg.visible{
  display: block;
}

@media (max-width:578px){
  .upSvg{
    border: 12px solid #dddddd;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    right: 8px;
    opacity: .7;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
